body {
  background-color: black;
}

button {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

select {
  width: 220px;
  height: 22px;
}

label{
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -12px;
  color: white;
  border: solid 1px white;
}

#sortingChooser {
  width: 180px;
  height: 22px;
}

#operator {
  margin-top: 20px;
  align-content: center;
}

.array-container {
  height: 660px;
  top: 650px;
  position: relative;
  transform: rotateX(180deg);
}

.array-bar {
  width: 20px;
  background-color: cyan;
  display: inline-block;
  color: transparent;
  margin: 0 3px;
  position: relative;
  max-height: 660px;
  color: black;
  transform: rotateX(180deg);
  font-size: 0.7em;

}
.tb {
  width: 20px;
  display: inline-block;
  color: transparent;
  top: 650px;
  position: relative;
  margin: 0 3px;
  height: 660px;
  bottom: 20px;
  background-color: #000000;
}

a{
  color: white;
  margin-left: 2px;
}

#slider{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}


.arrangement{
  bottom: 10px;
}
